.payload
  = f.hidden_field :_destroy
  = content_tag(:a, 'X', :href => '#', :class => "close", :onclick => "if (confirm('Delete this yapa?')) remove_payload(this)")
  %br
  = f.label :threshold
  = f.number_field :threshold, :min => 1
  %br
  = f.label :payload_image, 'Yapa image'
  = f.file_field :payload_image
  = f.object.payload_image.file.nil? ? "" : f.object.payload_image.file.filename
  %br
  = f.label :remote_payload_image_url, "or image URL"
  = f.text_field :remote_payload_image_url
  %br
  = f.label :payload_thumb, 'Yapa image'
  = f.file_field :payload_thumb
  = f.object.payload_thumb.file.nil? ? "" : f.object.payload_thumb.file.filename
  %br
  = f.label :remote_payload_thumb_url, "or image URL"
  = f.text_field :remote_payload_thumb_url
  %br
  = f.label :description, 'Short Text Description'
  = f.text_field :description
  %br
  = f.label :content, 'Text Content'
  = f.text_field :content
  %br
  = f.label :uri, 'URI (for video, audio, etc.)'
  = f.text_field :uri
  %br
  = f.label :content_type, 'URI Content Type'
  = f.select :content_type, options_for_select(Payload::VALID_CONTENT_TYPES, f.object.content_type)
