== Tip >= #{payload.threshold}
- if payload.payload_image_processing?
  Payload image pending upload
- elsif !payload.payload_image.nil? and !payload.payload_image.file.nil?
  = image_tag payload.payload_image.url, :width => 100
- else
  No payload image 
- if payload.payload_thumb_processing?
  Payload thumb pending upload
- elsif !payload.payload_thumb.nil? and !payload.payload_thumb.file.nil?
  = image_tag payload.payload_thumb.url, :width => 100
- else
  No payload thumb 
- unless payload.content.blank?
  == Content: #{payload.content}
- unless payload.uri.blank?
  == [#{payload.content_type}] #{payload.uri}
