.row
  .large-10.columns
    %h4= f.object.legible_id
    = f.hidden_field :user_id
    = f.hidden_field :tag_id
    .field
      = f.label :name
      = f.text_field :name

    .field
      = f.label :currency_id
      = f.select :currency_id, options_for_select(@currencies)

.large-10.columns
  %h4 Yapa
  #payload
    = f.fields_for :payloads do |payload_form|
      = render :partial => 'payload', :locals => { :f => payload_form }
    #yapa_insertion_point
    .row
      .large-10.columns
        - Payload::VALID_CONTENT_TYPES.each do |content_type|
          .large-2.columns
            = image_tag ApplicationHelper::YAPA_TYPE_IMAGE_MAP[content_type.to_sym], :size => "100x100"
            = add_payload(@tag, f, content_type)
