%section
  .row
    - n = [@tappers.length, @tapped.length].max
    .small-6.columns
      %table
        %tbody
        - if n >= 1
          - for x in 0..(n - 1) do
            %tr
              - if x < @tappers.length
                // %td= image_tag @image_map[@tappers[x].user_id]
                %td= @names_map[@tappers[x].user_id]
                %td= number_to_currency(@tappers[x].dollar)
                %td= number_with_delimiter(@tappers[x].taps)

    .small-6.columns
      %table
        %tbody
        - if n >= 1
          - for x in 0..(n - 1) do
            %tr
              - if x < @tapped.length
                // %td= image_tag @image_map[@tappers[x].user_id]
                %td= @names_map[@tappers[x].user_id]
                %td= number_to_currency(@tappers[x].dollar)
                %td= number_with_delimiter(@tappers[x].taps)
