- if currency.icon.nil?
  %td
- else
  %td= image_tag currency.icon.url, :width => 100
%td= link_to currency.name, currency_path(currency)
%td= currency.decode_denominations(true)
- if currency.expiration_days.nil?
  %td N/A
- else
  %td= pluralize(currency.expiration_days, 'day')
%td= link_to "Delete", currency, :method => :delete, :data => { :confirm => 'Are you sure?' }
