%tr
  %td= currency.user.name
  - if currency.icon_processing?
    %td Pending Upload
  - elsif !currency.icon.nil? and currency.icon.file.exists?
    %td= image_tag currency.icon.url, :width => 100
  - else
    %td
  %td
    - unless currency.symbol.nil?
      = currency.symbol
    = link_to currency.name, currency_path(currency)
  %td= currency.denomination_values.to_s
  %td= currency.single_code_generators.map { |g| g.code }
  - if currency.expiration_days.nil?
    %td N/A
  - else
    %td= pluralize(currency.expiration_days, 'day')
  %td= number_with_delimiter(currency.reserve_balance)
  %td= link_to "Board", leader_board_currency_path(currency)
  %td= link_to "Delete", currency, :method => :delete, :data => { :confirm => 'Are you sure?' }
