%tr
  %td= currency.user.name
  - if currency.icon_processing?
    %td Pending Upload
  - elsif !currency.icon.nil? and !currency.icon.file.nil? and currency.icon.file.exists?
    %td.image= image_tag currency.icon.url, size: "80x80"
  - else
    %td
  %td{:nowrap => ""}
    - unless currency.symbol.nil?
      = currency.symbol
    = currency.name
  %td= currency.denomination_values.to_s
  %td{:nowrap => ""}= currency.single_code_generators.map { |g| g.code }
  - if currency.expiration_days.nil?
    %td N/A
  - else
    %td= pluralize(currency.expiration_days, 'day')
  %td= number_with_delimiter(currency.reserve_balance)
  %td
    = link_to "Board", fast_leader_board_currency_path(currency)
    = link_to "*Board", leader2_currency_path(currency)

    = link_to "Report", report_currency_path(currency)
  %td{:nowrap => ""}
    = link_to "Edit", currency_path(currency), class: "small button"
    = link_to "Delete", currency, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "button alert round small"
    - if current_user.admin?
      = link_to 'Clear Data', clear_tx_currency_path(currency), :class => 'small button'
