
- n = [@tappers.length, @tapped.length].max
- rows = 5

%section.leaderboard{:style => "padding:2px 0;background-image: url('https://tapdat.s3.amazonaws.com/uploads/currency/icon/6/fl3.png'); background-repeat: no-repeat; background-size: contain; background-position-x: center;  "}
  .row
    %h1#demo

  .row.stats
    .small-6.columns
      %h1 Big tippers
      %table{:style => "opacity:.9;"}
        %thead
          %tr
            %th
            %th
            %th
            %th amount
            %th taps

          %tr
            %td#rank1
            %td
              .image#tapimage1= image_tag "deflb1.png"
              -# @image_map[@tappers[x].user_id]
            %td#tapname1
            -# = @names_map[@tappers[x].user_id]
            %td
              .pill#tapamount1
              -#= number_with_delimiter(@tappers[x].total || 0)
            %td#taptaps1
            -#= number_with_delimiter(@tappers[x].taps)

          %tr
            %td#rank2
            %td
              .image#tapimage2= image_tag "deflb2.png"
              -# @image_map[@tappers[x].user_id]
            %td#tapname2
            -# = @names_map[@tappers[x].user_id]
            %td
              .pill#tapamount2
              -#= number_with_delimiter(@tappers[x].total || 0)
            %td#taptaps2
            -#= number_with_delimiter(@tappers[x].taps)

          %tr
            %td#rank3
            %td
              .image#tapimage3= image_tag "deflb3.png"
              -# @image_map[@tappers[x].user_id]
            %td#tapname3
            -# = @names_map[@tappers[x].user_id]
            %td
              .pill#tapamount3
              -#= number_with_delimiter(@tappers[x].total || 0)
            %td#taptaps3
            -#= number_with_delimiter(@tappers[x].taps)

          %tr
            %td#rank4
            %td
              .image#tapimage4= image_tag "deflb4.png"
              -# @image_map[@tappers[x].user_id]
            %td#tapname4
            -# = @names_map[@tappers[x].user_id]
            %td
              .pill#tapamount4
              -#= number_with_delimiter(@tappers[x].total || 0)
            %td#taptaps4
            -#= number_with_delimiter(@tappers[x].taps)

          %tr
            %td#rank5
            %td
              .image#tapimage5= image_tag "deflb5.png"
              -# @image_map[@tappers[x].user_id]
            %td#tapname5
            -# = @names_map[@tappers[x].user_id]
            %td
              .pill#tapamount5
              -#= number_with_delimiter(@tappers[x].total || 0)
            %td#taptaps5
            -#= number_with_delimiter(@tappers[x].taps)


        -# for x in 0..1 do
          %tr
            - if x < 5
              %td= x+1
              %td
                - imagefile = "deflb" + (x+1).to_s + ".png"
                .image= image_tag imagefile
                -# @image_map[@tappers[x].user_id]
              %td NAME
              -# = @names_map[@tappers[x].user_id]
              %td
                .pill $0
                -#= number_with_delimiter(@tappers[x].total || 0)
              %td 0
              -#= number_with_delimiter(@tappers[x].taps)

    .small-6.columns
      %h1 top performers
      %table{:style => "opacity:.9;"}
        %thead
          %tr
            %th
            %th
            %th
            %th amount
            %th taps





        - for x in 1..5 do
          %tr
            - if x < 6
              %td{:id => "tagrank"+x.to_s}
              %td
                - imagefile = "deflb" + (x).to_s + ".png"
                .image{:id => "tagimage"+x.to_s}= image_tag imagefile
                -# @image_map[@tappers[x].user_id]

              %td{:id => "tagname"+x.to_s}
              -#= @names_map[@tapped[x].nfc_tag_id]
              %td
                .pill{:id => "tagamount"+x.to_s}
                -#= number_with_delimiter(@tapped[x].total || 0)
              %td
                .pill{:id => "tagtaps"+x.to_s}
                -#= number_with_delimiter(@tapped[x].taps)

  .row.stat
    .large-10.columns.small-centered
      %br
      %table{:style => "opacity:.9;"}
        %caption Last Tapper
        %thead
          %tr
            %th Latest tipper
            %th
            %th Amount
            %th Tag
            %th
        %tbody
          %tr
            %td
              .image#latestuserimage
              -#= image_tag @last_tx.user.mobile_profile_thumb_url || @last_tx.user.profile_image_url(:thumb).to_s
            %td#latestname NAME
            -#= @last_tx.user.name
            %td#latestamount
            -#= number_with_delimiter(@last_tx.amount)
            %td#latesttag
            -#= @last_tx.nfc_tag.name
            %td
              .image#latesttagimage
- content_for :javascript_includes do
  = javascript_include_tag "leader2"
