%h1 Account

= image_tag current_user.mobile_profile_thumb_url
= label_tag :nickname
= text_field_tag :nickname, current_user.name
= submit_tag 'Update Nickname', :class => 'button', :onclick => "update_nickname('nickname', '#{user_path(current_user)}');"
%br
= current_user.email
%br
- unless current_user.inbound_btc_address.nil?
  = image_tag "#{qrcode_user_path(current_user)}.svg"
  %br
  = current_user.inbound_btc_address
%br
%h3 Satoshi Balance: #{current_user.satoshi_balance}

- unless current_user.balances.empty?
  %h3 Other balances
  - current_user.balances.each do |balance|
    = balance.currency_name
    = balance.amount
    %br
  
%h2 Deposit
= current_user.inbound_btc_qrcode
= current_user.inbound_btc_address

%h3 Withdraw
= text_field :outbound_addy, current_user.outbound_btc_address, :placeholder => "Outbound Addy"
= submit_tag 'Withdraw', :class => "button"
