.currency_section{:id => currency.name.gsub(' ', '_')}
  .row
    .large-4.columns
      %h3 #{currency.name} Currency
      - unless currency.icon.nil? or !currency.icon.file.exists?
        = image_tag currency.icon.url
      - unless currency.symbol.nil?
        - String c = currency.symbol
    .large-4.columns
      - currency.denominations.each do |c|
        = image_tag c.image
        %br
        == #{c.caption} (#{c.value})

    .large-2.columns
      %h4
        == Reserve balance #{c} #{number_with_delimiter(currency.reserve_balance)}
  .row
    .large-12.columns
      - unless currency.vouchers.empty?
        %table.table.zebra-striped
          %caption Vouchers
          %thead
            %tr
              %th Date
              %th ID
              %th Status
              %th Amount
              %th Assigned
              %th Tag
          %tbody
            - currency.vouchers.each do |voucher|
              %tr
                %td= voucher.updated_at.try(:strftime, ApplicationHelper::DATE_FORMAT)
                %td= voucher.uid
                %td= voucher.display_status
                %td= voucher.amount
                %td= voucher.user.nil? ? 'N/A' : voucher.user.name
                - transaction = Transaction.where(:voucher_id => voucher.id).first
                - if transaction.nil? or transaction.nfc_tag.nil?
                  %td N/A
                - else
                  %td== "#{transaction.nfc_tag.name} / #{transaction.nfc_tag.tag_id}"
      = link_to 'Create Voucher', new_voucher_path(:currency_id => currency.id), :class => 'button'
