%h5 My Tags

.row.panel
  = link_to new_nfc_tag_path do
    %i.fa.fa-plus-circle.fa-5x
    add tag

- user.nfc_tags.order('created_at DESC').each do |tag|
  .row.panel
    .small-2.large-2.columns
      - unless tag.payloads.empty?
        .yapa_icon
          = image_tag ApplicationHelper::YAPA_TYPE_IMAGE_MAP[tag.payloads.first.content_type.to_sym], :size => "100x100"

    .small-2.large-2.columns
      - unless tag.payloads.empty?
        .center-cropped{style: "background-image: url(#{tag.payloads.first.mobile_payload_image_url})"}

    .small-2.large-2.columns
      = tag.name.to_s
    .small-2.large-2.columns
      = tag.legible_id
