.row
  .large-2.columns
    %ul
      %li 
        %a{:onclick => "select_dashboard_section('account_section');"} Account
      %li
        %a{:onclick => "select_dashboard_section('yapa_section');"} Yapa
      %li
        %a{:onclick => "select_dashboard_section('tags_section');"} Tags
      - current_user.currencies.each do |currency|
        %li
          - unless currency.icon.nil?
            = image_tag currency.icon.url, :width => 100
          %a{:onclick => "set_dashboard_currency('#{currency.name}')"} 
            = currency.name
  .large-10.columns
    #dashboard_content
      #account_section.dash_section.active
        = render :partial => 'account'
      #yapa_section.dash_section
        = render :partial => 'yapa'
      #tags_section.dash_section
        = render :partial => 'tags'
      #currency_section
        - current_user.currencies.each do |currency|
          = render :partial => 'currency', :locals => { :currency => currency }
= javascript_include_tag 'dashboard'
