.field
  = f.label :name
  = f.text_field :name
.field
  = label_tag :currency
  = text_field_tag :currency
.field
  = label_tag :admin_first_name
  = text_field_tag :admin_first_name
.field
  = label_tag :admin_last_name
  = text_field_tag :admin_last_name
.field
  = label_tag :admin_email
  = text_field_tag :admin_email
