%tr
  %td= voucher.uid
  %td= number_with_delimiter(voucher.amount)
  %td= voucher.display_status
  %td= voucher.assigned_user_display
  %td= link_to "Delete", voucher, :method => :delete, :data => { :confirm => 'Are you sure?' }
