= f.hidden_field :currency_id, :value => f.object.currency_id
= f.hidden_field :user_id, :value => f.object.user_id
= f.hidden_field :uid, :value => f.object.uid
= f.hidden_field :status, :value => f.object.status
.field
  %em== Denominations #{f.object.currency.denomination_values.to_s} 
  = f.label :amount, "Amount: Max #{number_with_delimiter(@currency.reserve_balance)}"
  = f.number_field :amount, :min => 1, :max => @currency.reserve_balance
  