%h2= @voucher.uid
%p== Amount: #{number_with_delimiter(@voucher.amount)}
%p== Status: #{@voucher.display_status}
%p== Assigned to: #{@voucher.assigned_user_display}
%br
= link_to 'Back', vouchers_path(:currency_id => @voucher.currency_id)
